# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
tags

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.tox
junit.xml
coverage.xml
.pytest_cache/

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_rst/*
docs/_build/*
cover/*
MANIFEST

# Per-project virtualenvs
.venv*/

# Data and others
README.md
data/Cerevisae_1000.csv
data/GM06990_5000.csv
data/Hela_5000.csv
data/K562_2000_merged_histones_init.csv.gz
data/K562_5000.csv
data/nn_K562_marks.hdf5
data_hela/MRT_10kb.csv
data_hela/OKSeq_5kb.csv
data_hela/ori_position.tsv
notebook_demo/Cutting MRT.ipynb
notebook_demo/Running NN on marks.ipynb
notebook_demo/Sim_with_cascade.ipynb
notebook_demo/Typical_sim.ipynb
spec-file.txt
src/repli1d/convert_profile_to_bed.py
src/repli1d/extract_AT_hook.py
src/repli1d/get_highest_correlation.py
src/repli1d/models.py
src/repli1d/profile_generation.py
src/repli1d/prune_marks.py
src/repli1d/small_opty.py
src/repli1d/whole_pipeline_extra.py
src/repli1d/whole_pipeline_from_data_file.py

development/events.out.tfevents.1656508899.r740gpu2.4061235.0
development/events.out.tfevents.1656511138.r740gpu2.422662.0
development/events.out.tfevents.1656513308.r740gpu2.1679030.0
development/events.out.tfevents.1656514274.r740gpu2.1693057.0
development/events.out.tfevents.1656514351.r740gpu2.1694055.0
development/events.out.tfevents.1656515262.r740gpu2.1707887.0
development/events.out.tfevents.1656575660.r740gpu2.1743885.0
development/events.out.tfevents.1656575864.r740gpu2.1746585.0
development/events.out.tfevents.1656575998.r740gpu2.1747778.0
development/events.out.tfevents.1656576917.r740gpu2.1750088.0
development/events.out.tfevents.1656577398.r740gpu2.1751969.0
development/events.out.tfevents.1656577558.r740gpu2.1753219.0
development/events.out.tfevents.1656578554.r740gpu2.1755099.0
development/events.out.tfevents.1656578745.r740gpu2.1756343.0
development/events.out.tfevents.1656578946.r740gpu2.1757572.0
development/events.out.tfevents.1656579055.r740gpu2.1758778.0
development/events.out.tfevents.1656579129.r740gpu2.1759725.0
